.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: rgb(110, 189, 235);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > input {
    height: 34px;
    width: 300px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
}

.header > button {
    padding: 11px;
    width: 70px;
    border: none;
    background-color: blue;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.header > button:hover{
    opacity: 0.7;
}

.main{
    margin-top: 20px;
    width: 60%;
}